﻿@model EventsEngineering.DTO.EmpEventDetails

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>EmpEventDetails</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(x => x.EventId, "Event Id :", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EventId, new { htmlAttributes = new { @class = "form-control", placeholder = "Event Id" } })
                @Html.ValidationMessageFor(model => model.EventId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.EmpId,"Employee Id :", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EmpId, new { htmlAttributes = new { @class = "form-control", placeholder = "Employee Id" } })
                @Html.ValidationMessageFor(model => model.EmpId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.AdultsCount,"Adults :", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AdultsCount, new { htmlAttributes = new { @class = "form-control", placeholder = "Adults" } })
                @Html.ValidationMessageFor(model => model.AdultsCount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.ToddlersCount,"Toddlers :", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ToddlersCount, new { htmlAttributes = new { @class = "form-control", placeholder = "Toddlers" } })
                @Html.ValidationMessageFor(model => model.ToddlersCount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.boysOrGirlsCount,"Boys Or Girls :", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.boysOrGirlsCount, new { htmlAttributes = new { @class = "form-control", placeholder = "Boys Or Girls" } })
                @Html.ValidationMessageFor(model => model.boysOrGirlsCount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.VegetariansCount,"Vegetarians :", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.VegetariansCount, new { htmlAttributes = new { @class = "form-control", placeholder = "vegeratians" } })
                @Html.ValidationMessageFor(model => model.VegetariansCount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.NonVegetariansCount,"Non-Vegetarians :", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NonVegetariansCount, new { htmlAttributes = new { @class = "form-control", placeholder = "Non-Vegetarians" } })
                @Html.ValidationMessageFor(model => model.NonVegetariansCount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.AlcoholicsCount,"Alcoholics :", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AlcoholicsCount, new { htmlAttributes = new { @class = "form-control", placeholder = "Alcoholics" } })
                @Html.ValidationMessageFor(model => model.AlcoholicsCount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.TransportReq,"Transport :", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.TransportReq)
                    @Html.ValidationMessageFor(model => model.TransportReq, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.AlertsReq,"Alerts :", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.AlertsReq)
                    @Html.ValidationMessageFor(model => model.AlertsReq, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
