﻿@model IEnumerable<EventsEngineering.DTO.EmpEventDetails>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


@foreach (var item in Model)
{
    <div class="col-lg-5">
        <ul>

            @Html.DisplayNameFor(model => model.EventId): @Html.DisplayFor(modelItem => item.EventId)

            <li>
                @Html.DisplayNameFor(model => model.EmpId): @Html.DisplayFor(modelItem => item.EmpId)
            </li>
            <li>
                @Html.DisplayNameFor(model => model.AdultsCount): @Html.DisplayFor(modelItem => item.AdultsCount)
            </li>
            <li>
                @Html.DisplayNameFor(model => model.ToddlersCount):@Html.DisplayFor(modelItem => item.ToddlersCount)
            </li>
            <li>
                @Html.DisplayNameFor(model => model.boysOrGirlsCount): @Html.DisplayFor(modelItem => item.boysOrGirlsCount)
            </li>
            <li>
                @Html.DisplayNameFor(model => model.VegetariansCount): @Html.DisplayFor(modelItem => item.VegetariansCount)
            </li>
            <li>
                @Html.DisplayNameFor(model => model.NonVegetariansCount): @Html.DisplayFor(modelItem => item.NonVegetariansCount)
            </li>
            <li>
                @Html.DisplayNameFor(model => model.AlcoholicsCount): @Html.DisplayFor(modelItem => item.AlcoholicsCount)
            </li>
            <li>
                @Html.DisplayNameFor(model => model.TransportReq): @Html.DisplayFor(modelItem => item.TransportReq)
            </li>
            <li>
                @Html.DisplayNameFor(model => model.AlertsReq): @Html.DisplayFor(modelItem => item.AlertsReq)
            </li>
            <li>
                @Html.ActionLink("Edit", "Edit", new { id = item.EmpEventDetailsId })
                @*@Html.ActionLink("Details", "Details", new { id=item.EmpEventDetailsId }) |*@
                @*@Html.ActionLink("Delete", "Delete", new { id=item.EmpEventDetailsId })*@
            </li>

        </ul>
    </div>

}




