﻿@{
    ViewBag.Title = "Home Page";
}
<br>
<div >
    <h1>Current Events @@ Work Place</h1>   
</div>
<br>
<br>
<div class="row">
    <div class="col-md-2">
        <h3>Annual Day</h3>
        <p>
            <a href="~/Content/Images/Annual Day.jpg" class="thumbnail">
      
        <img src="~/Content/Images/Annual Day.jpg" alt="Annual day" style="width:150px;height:150px">
        </a>
        </p>
        <p><a class="btn btn-default" href="EventData/Index">Apply Now</a></p>
    </div>
    <div class="col-md-2">
        <h3>Cricket</h3>
        <p>
            <a href="~/Content/Images/cricket.jpg" class="thumbnail">
       
        <img src="~/Content/Images/cricket.jpg" alt="cricket" style="width:150px;height:150px">
        </a>
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Apply Now</a></p>
    </div>
    <div class="col-md-2">
        <h3>HelpTN</h3>
        <p>
            <a href="~/Content/Images/HelpTN.jpg" class="thumbnail">
       
        <img src="~/Content/Images/HelpTN.jpg" alt="HelpTN" style="width:150px;height:150px">
        </a>
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Apply Now</a></p>
    </div>
    <div class="col-md-2">
        <h3>Yagna</h3>
        <p>
            <a href="~/Content/Images/Yagna.jpg" class="thumbnail">
     
        <img src="~/Content/Images/Yagna.jpg" alt="Yagna" style="width:150px;height:150px">
        </a>
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Apply Now</a></p>
    </div>
</div>