﻿@model IEnumerable<EventsEngineering.DTO.EventData>

@{
    ViewBag.Title = "Index";
}

<h2>CurrentEvents@@WorkPlace</h2>
<br/>
<br/>
<table width="100%">
    <tr>
        @foreach (var item in Model)
        {
            <td>
                <div class="row">
                    <div class="col-md-2">
                        <h2>@Html.DisplayFor(modelItem => item.EventName)</h2>
                        <p>
                            <img src="../../images/@Html.DisplayFor(modelItem => item.EventImage)" style="width:150px;height:150px;" />
                        </p>
                        <p>
                            @Html.DisplayFor(modelItem => item.EventDate)
                        </p>
                        <p>
                            @Html.DisplayFor(modelItem => item.Venue)
                        </p>
                        <p>
                            <a class="btn btn-default" href="/Login">Apply Now</a>
                        </p>
                    </div>
                </div>
            </td>
        }
    </tr>
</table>
