﻿@model EventsEngineering.DTO.EventData

@{
    ViewBag.Title = "Create";
}

<h2>Add an Event</h2>

@using (Html.BeginForm("Create","EventData", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @*<div class="col-lg-6">*@
            <h4>EventData</h4>
            <hr />
            @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
            <div class="form-group">
                @Html.LabelFor(x => x.EventName, "Event Name :", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.EventName, new { htmlAttributes = new { @class = "form-control", placeholder = "Event Name" } })
                    @Html.ValidationMessageFor(model => model.EventName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.EventDescription, "Event Description :", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.EventDescription, 5, 50, null)
                    @*@Html.EditorFor(model => model.EventDescription, new { htmlAttributes = new { @class = "form-control" } })*@
                    @Html.ValidationMessageFor(model => model.EventDescription, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.EventDate, "Event Date :", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.EventDate, new { htmlAttributes = new { @class = "form-control", placeholder = "Event Date" } })
                    @Html.ValidationMessageFor(model => model.EventDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.Venue, "Venue :", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Venue, 5, 50, null)
                    @*@Html.EditorFor(model => model.Venue, new { htmlAttributes = new { @class = "form-control" } })*@
                    @Html.ValidationMessageFor(model => model.Venue, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.VenueURL, "Venue URL :", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.VenueURL, new { htmlAttributes = new { @class = "form-control", placeholder = "Venue URL" } })
                    @Html.ValidationMessageFor(model => model.VenueURL, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.VenueImage, "Venue Image :", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @*@Html.EditorFor(model => model.VenueImage, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.VenueImage, "", new { @class = "text-danger" })*@
                    @*<label for="file">Upload Venue Image:</label>*@
                    <input type="file" name="file" style="width: 100%;" />
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.VenueLocationImage, "Venue Location Image :", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @*@Html.EditorFor(model => model.VenueLocationImage, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.VenueLocationImage, "", new { @class = "text-danger" })*@
                    @*<label for="file">Upload Venue Location Image:</label>*@
                    <input type="file" name="file" id="file" style="width: 100%;" />
                </div>
            </div>
        
            
                <div class="form-group">
                    @Html.LabelFor(x => x.EventImage, "Image :", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @*@Html.EditorFor(model => model.EventImage, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EventImage, "", new { @class = "text-danger" })*@
                        @*<label for="file">Upload Event Image:</label>*@
                        <input type="file" name="file" id="file" style="width: 100%;" />
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(x => x.EventImageTooltip, "Image Tooltip :", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.EventImageTooltip, new { htmlAttributes = new { @class = "form-control", placeholder = "Image Tooltip" } })
                        @Html.ValidationMessageFor(model => model.EventImageTooltip, "", new { @class = "text-danger" })
                    </div>
                </div>
            
            
                <div class="form-group">
                    @Html.LabelFor(x => x.ContactPerson, "Contact Person :", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ContactPerson, new { htmlAttributes = new { @class = "form-control", placeholder = "Contact Person" } })
                        @Html.ValidationMessageFor(model => model.ContactPerson, "", new { @class = "text-danger" })
                    </div>
                </div>
            @*</div>*@
        @*<div class="col-lg-6">*@
            <div class="form-group">
                @Html.LabelFor(x => x.ContactEmailAddress, "Contact Email :", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ContactEmailAddress, new { htmlAttributes = new { @class = "form-control", placeholder = "Contact Email" } })
                    @Html.ValidationMessageFor(model => model.ContactEmailAddress, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.FeedbackFieldShow, "Feedback Field :", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.FeedbackFieldShow)
                        @Html.ValidationMessageFor(model => model.FeedbackFieldShow, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.VolunteerReqFieldShow, "Volunteer Field :", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.VolunteerReqFieldShow)
                        @Html.ValidationMessageFor(model => model.VolunteerReqFieldShow, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.IsPublished, "Published :", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.IsPublished)
                        @Html.ValidationMessageFor(model => model.IsPublished, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.PublishedDate, "Published Date :", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PublishedDate, new { htmlAttributes = new { @class = "form-control", placeholder = "Published Date" } })
                    @Html.ValidationMessageFor(model => model.PublishedDate, "", new { @class = "text-danger" })
                </div>
            </div>

            @*<div class="form-group">
                @Html.LabelFor(model => model.EventDetailsId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.EventDetailsId, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EventDetailsId, "", new { @class = "text-danger" })
                </div>
            </div>*@

            <div class="form-group">
                @Html.LabelFor(x => x.AdultsFieldShow, "Adults Field :", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.AdultsFieldShow)
                        @Html.ValidationMessageFor(model => model.AdultsFieldShow, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.ToddlersFieldShow, "Toddlers Field :", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.ToddlersFieldShow)
                        @Html.ValidationMessageFor(model => model.ToddlersFieldShow, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.GenderFieldShow, "Gender Field :", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.GenderFieldShow)
                        @Html.ValidationMessageFor(model => model.GenderFieldShow, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.FoodFieldShow, "Food Field :", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.FoodFieldShow)
                        @Html.ValidationMessageFor(model => model.FoodFieldShow, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.AlcoholicsFieldShow, "Alcoholics Field :", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.AlcoholicsFieldShow)
                        @Html.ValidationMessageFor(model => model.AlcoholicsFieldShow, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.TransportReqFieldShow, "Transport Field :", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.TransportReqFieldShow)
                        @Html.ValidationMessageFor(model => model.TransportReqFieldShow, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.AlertsReqFieldShow, "Alerts Field :", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.AlertsReqFieldShow)
                        @Html.ValidationMessageFor(model => model.AlertsReqFieldShow, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        @*</div>*@
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="submit" value="Preview" class="btn btn-default" /> 
             </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("View All Events", "Index")
</div>
