﻿@model EventsEngineering.DTO.EventData

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>EventData</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EventName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Venue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Venue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VenueURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VenueURL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VenueImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VenueImage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VenueLocationImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VenueLocationImage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventImage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventImageTooltip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventImageTooltip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactPerson)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactPerson)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactEmailAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactEmailAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FeedbackFieldShow)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FeedbackFieldShow)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VolunteerReqFieldShow)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VolunteerReqFieldShow)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsPublished)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsPublished)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PublishedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublishedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventDetailsId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventDetailsId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdultsFieldShow)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdultsFieldShow)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ToddlersFieldShow)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToddlersFieldShow)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GenderFieldShow)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GenderFieldShow)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FoodFieldShow)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FoodFieldShow)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlcoholicsFieldShow)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlcoholicsFieldShow)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransportReqFieldShow)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransportReqFieldShow)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlertsReqFieldShow)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlertsReqFieldShow)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
