﻿@model IEnumerable<EventsEngineering.DTO.EventData>

@{
    ViewBag.Title = "Index";
}

<h2>Events</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table width ="100%"class="table">
   
    <tr>
        @foreach (var item in Model)
        {
            <td>
                <ul>
                    <li>
                        @Html.DisplayNameFor(model => model.EventName): @Html.DisplayFor(modelItem => item.EventName)
                    </li>
                    <li>
                        @Html.DisplayNameFor(model => model.EventDescription): @Html.DisplayFor(modelItem => item.EventDescription)
                    </li>
                    <li>
                        @Html.DisplayNameFor(model => model.EventDate): @Html.DisplayFor(modelItem => item.EventDate)
                    </li>
                    <li>
                        @Html.DisplayNameFor(model => model.Venue): @Html.DisplayFor(modelItem => item.Venue)
                    </li>
                    <li>
                        @Html.DisplayNameFor(model => model.VenueURL): @Html.DisplayFor(modelItem => item.VenueURL)
                    </li>

                    <li>
                        
                        @Html.DisplayNameFor(model => model.VenueImage)
                    </li>
                    <li>
                        <img src="../../images/@Html.DisplayFor(modelItem => item.VenueImage)" style="width:150px;height:150px;"/>
                    </li>
                    <li>
                        @Html.DisplayNameFor(model => model.VenueLocationImage)
                    </li>
                    <li>
                        @*@Html.DisplayNameFor(model => model.VenueLocationImage): @Html.DisplayFor(modelItem => item.VenueLocationImage)*@
                        <img src="../../images/@Html.DisplayFor(modelItem => item.VenueLocationImage)" style="width:150px;height:150px;" />
                    </li>
                    <li>
                        @Html.DisplayNameFor(model => model.EventImage)
                    </li>
                    <li>
                        @*@Html.DisplayNameFor(model => model.EventImage): @Html.DisplayFor(modelItem => item.EventImage)*@
                        <img src="../../images/@Html.DisplayFor(modelItem => item.EventImage)" style="width:150px;height:150px;" />
                    </li>
                    <li>
                        @Html.DisplayNameFor(model => model.EventImageTooltip): @Html.DisplayFor(modelItem => item.EventImageTooltip)
                    </li>
                    <li>
                        @Html.DisplayNameFor(model => model.ContactPerson): @Html.DisplayFor(modelItem => item.ContactPerson)
                    </li>
                    <li>
                        @Html.DisplayNameFor(model => model.ContactEmailAddress): @Html.DisplayFor(modelItem => item.ContactEmailAddress)
                    </li>

                    @if (Convert.ToString(Session["Is_Admin"]) == "admin")
                     {
                        <li>

                            @Html.ActionLink("Edit", "Edit", new { id = item.EventId }) |
                            @Html.ActionLink("Details", "Details", new { id = item.EventId }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.EventId })
                        </li>
                    }
                </ul>
            </td>
        }
    </tr>
</table>
