﻿@model EventsEngineering.DTO.Login

@{
    ViewBag.Title = "Login";
}

<h4 align ="right">Hello @ViewBag.Name ! </h4> 
<br/>
<h3 align ="center"><a href="~/Employee/Create">Add Employee</a></h3>
<br />
<h3 align ="center"><a href="~/Employee/Index">View Employees</a></h3>
<br />
<h3 align ="center"><a href="~/EventData/Create">Add Event</a></h3>
<br />
<h3 align ="center"><a href="~/EventData/Index">View Events</a></h3>
<br />
<h3 align="center"><a href="~/EmpEventDetails/Index">View EventDetails</a></h3>
<br />
<h3 align="center"><a href="~/Feedback/Index">View Feedbacks</a></h3>




@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@
