﻿@model IEnumerable<EveMag.Models.EventDetails>

@{
    ViewBag.Title = "GetEventDetails";
}

<h2>GetEventDetails</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Adults)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kids)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vegetarian)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Non_Vegetarian)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Transport)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Alerts)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Adults)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kids)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vegetarian)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Non_Vegetarian)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Transport)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Alerts)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EventDetailsId }) |
            @Html.ActionLink("Details", "Details", new { id=item.EventDetailsId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EventDetailsId })
        </td>
    </tr>
}

</table>
