﻿@model EveMag.Models.Login

@{
    ViewBag.Title = "Index";
}

<h1>Admin Home Page</h1>

<br>
<h2><a href="/Event/Create">Add Event</a></h2>
<h2><a href="/Employee/Index ">View Employees</a></h2>


<p id="demo"></p>


